.App {
  display: flex;
  flex-direction: row;
  text-align: center;
  overflow-y: auto;
}

.sol{
  
  flex: none;
    width: 22%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.solic{
 

}

.sag{
    background-color: rgb(241, 241, 241);
    width: 78%;
    height: 100vh;
}


.sagic{
  
  width: auto;
  height: 100vh;
  margin-left: 15px;
}


