.hakkimdamain{
    
    color: rgb(48, 47, 47);
    width: 100%;
    height: 100%;
    
    background-color: rgb(255, 255, 255);
}

.ara{
    
    width: 100%;
    height: 130px;
}

.hakkindabody{
    background-color: burlywood;
    width: auto;
    height: auto;
    padding: 50px;
    padding-top: 10px;
}

.icerik{
    width: 100%;
    height: 100%;
    background-color: blueviolet;
}

.icerikic{
    width: 60%;
    height: auto;
    padding: 15px;
    text-align: left;
    background-color: rgb(108, 230, 203);
}

.baslik{
    font-weight: bold;
}

.metin{
    color: rgb(75, 74, 74);
}

.dilbaslik{
    width: 48px;
    border-bottom: solid 2px chocolate;
    font-weight: bold;
}

.diller{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: 200px;
    background-color: darkgoldenrod;
    padding: 10px 10px 10px 10px;
    overflow-x: auto;
}

.dilleric{
    display: flex;
    flex: none;
    flex-direction: column;
    width: 24%;
    height: 100%;
    background-color: coral;
    
    
}

.logo{
    background-color: chartreuse;
    height: 50%;
    object-fit: cover;
}

.metin{
    background-color: cadetblue;
    height: 50%;
}

.solimge{
    color: white;
    background-color: rgb(226, 121, 89);
    width: auto;
    height: 46px;
    position: absolute;
    margin-left: -10px;
    margin-top: 50px;
    border-bottom-right-radius: 10px;
    align-items: stretch;
}

.parca{
    
    width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid  rgb(201, 111, 83);
    position: absolute;
    margin-top: 45px;
    rotate: 46deg;
    left: 0px;
    top:0px;
}