.nav{
    display: flex;
    flex-direction: column;
    position:fixed;
    z-index: 1;
    top:0;
    left:0;
    right:0;
    margin:0;
}

.main{
    background-color:white;
    height: 80px;
    display: flex;
    justify-content: center;
    padding: 0px 40px;
    border-bottom: 1PX solid rgba(167, 165, 165, 0.479);
}
.rolingbar{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    height: 98px;
    width: auto;
    padding: 0px 40px;
    box-shadow: 0px 1px 2px rgba(63, 63, 63, 0.212);
    
}

.rolingbar .rolingbardis{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    
    height: 98px;
    width: 100%;
   
    gap: 8px;
}

.rolingbar .rolingbarici{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    
    height: 98px;
    width: 100%;
    transition: all 2s;
    scroll-behavior: smooth;
    
    gap: 32px;
    overflow:hidden;
}

.rolingbar .buttondis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background: linear-gradient(to left, #ffffff, #ffffff 45%, #ffffff77 85%,#c5181800 100%);
    width: 50px;
    height: 95px;
    margin-bottom: 0px;
}

.rolingbar .buttondis.left{
    background: linear-gradient(to right, #ffffff, #ffffff 45%, #ffffff77 85%,#c5181800 100%);
    align-items: flex-start;
}

.rolingbar .buttonic{
    background-color: white;
    color: black;
    font-size: 23px;
    border-color: rgba(167, 165, 165, 0.479);;
    border-style: solid;
    border-radius: 50px;
    border-width: 1px;
    width: 32px;
    height: 32px;
    padding-top: 2px;
    transition: all 0.15s;
    transform: scale(1);
 
}

.rolingbar .buttonic:hover{
    box-shadow: 1px 1px 12px 1px #53535323;
    transform: scale(1.03);
}



.rolingbar .filitre{
    display: flex;
    justify-content: right;
    align-items: center;
    flex: none;
    width: 118px;
    height: 98px;
    padding-right: 10px;
    
}


.rolingbar .filitre .out{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 98px;
    height: 26px;
    background-color: white;
    border-radius: 13px;
    border-color: rgba(167, 165, 165, 0.479);
    border-width: 1px;
    border-style: solid;
    
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.15s;

}

.rolingbar .filitre .out:hover{
    box-shadow: 0px 2px 4px rgba(63, 63, 63, 0.26);
    
}

.rolingbar .filitre .out .button{
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 15px;
   width: 100%;
   height: 100%;
   background-color: rgba(240, 248, 255, 0);
   border: none;
   
}


.rolingbar .alt{
    display: flex;
    justify-content: center;
}

.altfocus{
    width: 24px;
    height: 3px;
    background-color:  rgb(226, 0, 0);
    margin-top: 14px;
 
}

.altfocus2{
    width: 24px;
    height: 3px;
    margin-top: 14px;
    transition: all 0.25s ease-in-out;
    
}



.rolingbar .out{
    
    width: auto;
    height: 78px;
    
    
}


.out .minimenu{
    cursor: pointer;
    
    width: 70px;
    height: 52px;
    margin: 12px 0px 10px;
    padding: 4px 0px;
    transition: all 0.25s;
    opacity: 0.70;
}


.out .minimenu:hover{
    opacity: 1;
}


.out .minimenu .ic{
    display: flex;
    flex-direction: column  ;
    align-items: center;
    gap: 3px;
    
    width: 70px;
    height: 44px;
}

.minimenu .ic .resim{
    
    width: 24px;
    height: 24px;
}

.minimenu .ic .metin{
    font-size: 13px;
    color: rgb(82, 82, 82);
    
    width: auto;
    height: 16px;
    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}



.main .orta {
    display: flex;
    background-color: rgb(85, 107, 47);
    width: 100%;
    height: 80px;
    
}

.Logo{
    flex:auto;
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: center;
}



.Search{
    display: flex;
    flex: initial;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: white;
    padding: 0px 40px;
}

.Search .out{
    display: flex;
    width: 100%;
    height: 48px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(167, 165, 165, 0.479);
    box-shadow: 0px 1px 2px rgba(63, 63, 63, 0.212);
    transition: all 0.15s;
}

.Search .out:hover{
    box-shadow: 0px 2px 4px rgba(63, 63, 63, 0.26);

}

.buttons{
    display: flex;
    flex-direction: row;
    
    width: 100%;
    
    padding-left: 8px;
    align-items: center;
}

.ayirici{
    border: none;
    border-left: 1px solid rgba(167, 165, 165, 0.479);
    height: 4vh;
    width: 1px;
}

.ayirici2{
    border: none;
    border-top: 1px solid rgba(167, 165, 165, 0.479);
    width: 100%;
}

.minisearch{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: rgba(6, 209, 175, 0);
    width: 100%;
    height: 42px;

}



.minisearch .metin{
    display: flex;
    align-items: center;
    height: 22px;
    padding: 0px 6px;
     overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}

.minisearch .icon{
    display: flex;
    flex: none;
    align-items: center;
    background-color: rgb(255, 48, 82);
    border-radius: 50px;
    margin: 7px 7px 7px 0px;
    width: 30px;
    height: 30px;
}

.Account{
    display: flex;
    flex: initial;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
}

.Account .ara{
    display: flex;
    flex: none;
    align-items: center;
    flex-direction: row;
    
    gap:4px
}

.Account .link{
    font-size: 13px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
    width: 100%;
    height: 34PX;
    background-color: rgba(105, 105, 105, 0);
    border-radius: 60px;
    transition: all 0.25;
    padding-bottom: 4px;
}

.Account .link:hover{
    background-color: rgba(201, 197, 197, 0.253)
}

.Account .yanmenu{
    flex: none;
    
    border-style: solid;
    border-color:rgba(167, 165, 165, 0.479);
    border-width: 1px;
    width: 77px;
    height: 38px;
    border-radius: 50px;
    transition: all 0.15s;
}

.Account .yanmenu:hover{
    box-shadow: 0px 2px 4px rgba(63, 63, 63, 0.26);

}

.Account .yanmenu .button{
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 5px 5px;
    gap: 8px;
    background-color: rgba(95, 158, 160, 0);
    border:  none;

}

.Account .yanmenu .modal{
    display:flex;
    overflow: hidden;
    flex-direction:column;
    justify-content:space-between;
    text-align: left;
    padding:15px 0px 15px;
    width:220px;
    height:170px;
    background-color: white;
    border-radius:15px;
    opacity: 1;
    box-shadow: 0px 0px 15px rgba(63, 63, 63, 0.212);
}

.Account .yanmenu .modal .modalic{
    display: flex;

    width: 100%;
    padding: 8px 25px 8px ;
}

.Account .yanmenu .modal .modalic:hover{
    
    background-color: rgba(78, 78, 78, 0.288)
}



.Account .word{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border:none;
    transition: all 0.25s;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    width: 38px;
    height: 38px;
    
}

.Account .word:hover{
    background-color: rgba(201, 197, 197, 0.253)
}

.modal-ic{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    padding: 15px;
}

.modal-ic .modal-ust{
    display: flex;
    
    width: 100%;
    height: 50px;
    border-bottom: rgba(63, 63, 63, 0.212) solid 1px;
}

.modal-ic .ceviri{
    width: 100%;
    padding-top: 22px;
}

.modal-ic .ceviri .ic{
    display: flex;
    flex-direction: row;
    background-color: rgba(27, 27, 27, 0.055);
    width: 574px;
    padding: 8px;
    
    height: 50px;
}

.modal-ic .ceviri .ic2{
    
    width: 554px;
    height: 50px;
    
    
}

.modal-ic .ceviri .ic .cvrButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 50px;
    
}

.ceviri .ic .cvrButton .dis{
    background-color: rgba(12, 12, 12, 0.932);
    width: 50px;
    height: 30px;
    border-radius: 45px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2px;
    
    
}


.ceviri .ic .cvrButton .ic{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 12px;
    height: 12px;
    border-radius: 30px;
    
    transition: all 0.25s;
    transform: translateX(+0%);
}

.ceviri .ic .cvrButton .ic:hover{
    
}

.modal-ust .dil{
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.modal-ust .dil .ic{
    cursor: pointer;
    padding: 10px;
}
.modal-ust .dil .ic:hover{
    background-color: rgba(99, 96, 96, 0.103);
    border-radius: 10px;
}


.modal-ust .birim{
    
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.modal-ust .birim .ic{
    cursor: pointer;
    padding: 10px;
}
.modal-ust .birim .ic:hover{
    background-color: rgba(99, 96, 96, 0.103);
    border-radius: 10px;

}

