.SayfaBody{
    
    width: auto;
    height: 100%;
    margin: 16px 0px 40px;
    padding: 0px 40px;
    
}

.SayfaBody .ic{
    margin-top: 169px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(160px, 300px));
        
    gap: 23px;
    
    width: auto;
    height: 100%;
    padding-top: 15px;
}